@page "/vocabularies/create"
@rendermode InteractiveServer
@using Vocabi.Domain.Aggregates.MediaFiles
@using Vocabi.Shared
@using Vocabi.Shared.Common
@inherits BasePage

<PageTitle>Create Vocab</PageTitle>

<FluentStack Orientation="Orientation.Vertical">
    <FluentStack HorizontalAlignment="HorizontalAlignment.SpaceBetween" VerticalAlignment="VerticalAlignment.Center">
        <FluentStack VerticalAlignment="VerticalAlignment.Center">
            <FluentLabel Typo="Typography.H4">
                Create Vocabulary
            </FluentLabel>
            <FluentIcon Value="@(new Icons.Regular.Size16.Info())" />
        </FluentStack>
        <FluentStack VerticalAlignment="VerticalAlignment.Center" Width="auto">
            <FluentButton OnClick="SubmitAsync"
                          Appearance="Appearance.Accent"
                          IconStart="@(new Icons.Regular.Size16.Add())"
                          Loading="@isSubmitting"
                          Style="min-width:80px">
                Create
            </FluentButton>

            <FluentButton OnClick="@ClearForm"
                          Appearance="Appearance.Neutral"
                          IconStart="@(new Icons.Regular.Size16.Broom())"
                          Style="min-width:80px">
                Clear
            </FluentButton>
        </FluentStack>
    </FluentStack>

    <FluentEditForm EditContext="editContext" style="width:100%">
        <DataAnnotationsValidator />
        @* <CustomValidator @ref="_customValidator" /> *@

        <div style="color: var(--error);">
            <FluentValidationSummary />
        </div>

        <FluentStack Orientation="Orientation.Vertical" VerticalGap="12">
            <FluentStack VerticalAlignment="VerticalAlignment.Bottom">
                <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Stretch" VerticalGap="0" Style="flex:1;">
                    <FluentTextField @bind-Value="@formModel.Word"
                                     Name="word" Label="Word"
                                     Required Autofocus />
                </FluentStack>
                <FluentButton Appearance="Appearance.Accent"
                              IconStart="@(new Icons.Regular.Size20.GlobeSearch())"
                              OnClick="LookupAsync"
                              Loading="@isLookingUp">
                    Look up
                </FluentButton>
            </FluentStack>

            <FluentStack>
                <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Stretch" VerticalGap="0">
                    <FluentCombobox @bind-Value="formModel.PartOfSpeech"
                                    @onchange="HandleChangeWordType"
                                    Name="PartOfSpeech" Label="Part of speech"
                                    Items="lookupEntries.Select(x => x.PartOfSpeech)" />
                </FluentStack>
                <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Stretch" VerticalGap="0">
                    <FluentTextField @bind-Value="formModel.Pronunciation"
                                     Name="Pronunciation" Label="Pronunciation"
                                     Appearance="FluentInputAppearance.Filled" />
                </FluentStack>
            </FluentStack>

            <FluentStack>
                <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Stretch" VerticalGap="0">
                    <FluentCombobox @bind-Value="formModel.Meaning"
                                    Name="Meaning" Label="Meaning"
                                    Items="lookupEntries.SelectMany(x => x.Meanings)"
                                    Required />
                </FluentStack>
                <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Stretch" VerticalGap="0">
                    <FluentTextField @bind-Value="formModel.Cloze"
                                     Name="Cloze" Label="Cloze" />
                </FluentStack>
            </FluentStack>

            <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Stretch" VerticalGap="0">
                <FluentCombobox @bind-Value="formModel.Definition"
                                @onchange="HandleChangeDefinition"
                                Name="Definition" Label="Definition"
                                Items="lookupEntries.SelectMany(e => e.Definitions.Select(d => d.Text))"
                                Required />
            </FluentStack>

            <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Stretch" VerticalGap="0">
                <FluentCombobox @bind-Value="formModel.Example"
                                @onchange="HandleChangeExample"
                                Name="Example" Label="Example"
                                Items="lookupEntries.SelectMany(e => e.Definitions.SelectMany(d => d.Examples))" />
            </FluentStack>

            <FluentStack Orientation="Orientation.Vertical" VerticalGap="6">
                <FluentLabel>
                    Attachments
                </FluentLabel>
                <FluentStack VerticalAlignment="VerticalAlignment.Stretch">
                    @foreach (var file in mediaFileModels)
                    {
                        <FluentInputFile Mode="InputFileMode.Stream"
                                         MaximumFileCount="1"
                                         MaximumFileSize="@(file.MaxFileSizeInKB * Constants.BytesPerKB)"
                                         Accept="@file.Accept"
                                         AnchorId="@file.AnchorId"
                                         OnCompleted="(files) => HandleFileUploadCompletedAsync(files, file)"
                                         Style="position:relative;flex:1;padding:36px;border-radius:4px;">
                            <ChildContent>
                                @{
                                    var fileSourceStyle = "position:absolute;bottom:8px;right:12px;font-size:12px;font-style:italic;";
                                    if (!string.IsNullOrEmpty(file.FilePath))
                                    {
                                        if (file.MediaType.Equals(MediaType.Audio))
                                        {
                                            <div id="@file.AnchorId">
                                                <audio controls>
                                                    <source src="@file.FilePath" />
                                                    Your browser does not support the audio element.
                                                </audio>
                                            </div>
                                            <FluentLabel Style="@fileSourceStyle">
                                                @file.SourceName
                                            </FluentLabel>
                                        }
                                        else if (file.MediaType.Equals(MediaType.Image))
                                        {
                                            <div id="@file.AnchorId">
                                                <img src="@file.FilePath" style="max-width: 400px;" />
                                            </div>
                                            <FluentLabel Style="@fileSourceStyle">
                                                @file.SourceName
                                            </FluentLabel>
                                            // if (_mediaLookupResult.AlternativeImageUrls.Any())
                                            // {
                                            //     <FluentIcon Value="@(new Icons.Regular.Size20.ArrowRepeatAll())"
                                            //                 OnClick="HandleChangeImageAsync"
                                            //                 Style="position:absolute;top:8px;right:32px;" />
                                            // }
                                        }
                                        <FluentIcon Value="@(new Icons.Regular.Size20.Dismiss())"
                                                    OnClick="@(() => HandleRemoveFile(file.MediaType))"
                                                    Style="position:absolute;top:8px;right:8px;" />
                                    }
                                    else
                                    {
                                        <FluentStack Id="@file.AnchorId"
                                                     Orientation="Orientation.Vertical"
                                                     HorizontalAlignment="HorizontalAlignment.Center">
                                            <FluentIcon Value="@file.Icon" />
                                            <FluentLabel>
                                                @file.Placeholder
                                            </FluentLabel>
                                        </FluentStack>
                                    }
                                }
                            </ChildContent>
                        </FluentInputFile>
                    }
                </FluentStack>
            </FluentStack>
        </FluentStack>
    </FluentEditForm>
</FluentStack>