@page "/vocabularies"
@rendermode InteractiveServer
@using Vocabi.Application.Features.Vocabularies.DTOs
@inherits BasePage

<PageTitle>Vocabulary List</PageTitle>

<FluentStack Orientation="Orientation.Vertical">
    <FluentStack HorizontalAlignment="HorizontalAlignment.SpaceBetween" VerticalAlignment="VerticalAlignment.Center">
        <FluentStack VerticalAlignment="VerticalAlignment.Center">
            <FluentLabel Typo="Typography.H4">
                Vocabulary List
            </FluentLabel>
        </FluentStack>
        <FluentStack VerticalAlignment="VerticalAlignment.Center" Width="auto">
            <FluentButton Appearance="Appearance.Accent"
                          IconStart="@(new Icons.Regular.Size16.Add())"
                          OnClick="Navigation.GoToCreate">
                Create vocab
            </FluentButton>
        </FluentStack>
    </FluentStack>

    <FluentStack HorizontalAlignment="HorizontalAlignment.SpaceBetween" VerticalAlignment="VerticalAlignment.Center">
        <FluentStack VerticalAlignment="VerticalAlignment.Center">
            <FluentTextField @bind-Value="searchWord" Label="Word" Style="flex:1;" />
        </FluentStack>
        <FluentStack Width="auto">
            <FluentButton IconStart="@(new Icons.Regular.Size16.Search())" Loading="IsLoading" OnClick="RefreshDataAsync">
                Search
            </FluentButton>
            <FluentButton IconStart="@(new Icons.Regular.Size16.ArrowDownload())" Disabled="IsLoading" OnClick="() => { }">
                Export
            </FluentButton>
        </FluentStack>
    </FluentStack>

    <FluentStack Orientation="Orientation.Vertical">
        <FluentPaginator State="pagination" Style="width:100%;margin-top:0" />
        <FluentDataGrid @ref="dataGrid"
                        Pagination="pagination"
                        TGridItem="VocabularyListItemDto"
                        Items="vocabularyList"
                        RefreshItems="RefreshItemsAsync"
                        Loading="IsLoading"
                        GenerateHeader="GenerateHeaderOption.Sticky"
                        DisplayMode="DataGridDisplayMode.Table"
                        OnRowDoubleClick="(r) => Navigation.GoToDetail(r.Item!.Id)"
                        AutoFit="true"
                        ShowHover="true"
                        Style="width:100%;">
            <ChildContent>
                <PropertyColumn Property="@(c => c.Word)" />
                <PropertyColumn Property="@(c => c.PartOfSpeech)" />
                <PropertyColumn Property="@(c => c.Pronunciation)" />
                <PropertyColumn Property="@(c => c.Cloze)" />
                <PropertyColumn Property="@(c => c.Meaning)" />
                <PropertyColumn Title="Synced to Anki" Property="@(c => c.IsSyncedToAnki)" />
                <TemplateColumn Title="Actions" Align="@Align.End">
                    <FluentButton IconEnd="@(new Icons.Regular.Size16.Edit())" OnClick="() => Navigation.GoToEdit(context.Id)" />
                    <FluentButton IconEnd="@(new Icons.Regular.Size16.Delete())" OnClick="() => OpenDeleteDialogAsync(context)" />
                </TemplateColumn>
            </ChildContent>
            <EmptyContent>
                <FluentStack Orientation="Orientation.Horizontal"
                             VerticalAlignment="VerticalAlignment.Center"
                             HorizontalAlignment="HorizontalAlignment.Center"
                             HorizontalGap="10">
                    <FluentIcon Value="@(new Icons.Filled.Size24.Crown())" Color="@Color.Accent" />
                    <div>Nothing to see here. Carry on!</div>
                </FluentStack>
            </EmptyContent>
        </FluentDataGrid>
    </FluentStack>
</FluentStack>