@page "/vocabularies/failed"
@rendermode InteractiveServer
@using Vocabi.Application.Features.Vocabularies.GetPaginatedFailedVocabularies
@using Vocabi.Shared.Utils
@inherits BasePage

<PageTitle>Vocabulary Failed List</PageTitle>

<FluentStack Orientation="Orientation.Vertical">
    <FluentStack HorizontalAlignment="HorizontalAlignment.SpaceBetween" VerticalAlignment="VerticalAlignment.Center">
        <FluentStack VerticalAlignment="VerticalAlignment.Center">
            <FluentLabel Typo="Typography.H4">
                Vocabulary Failed List
            </FluentLabel>
        </FluentStack>
    </FluentStack>

    <FluentToolbar Style="width:100%">
        <FluentStack HorizontalAlignment="HorizontalAlignment.SpaceBetween" VerticalAlignment="VerticalAlignment.Center">
            <FluentStack VerticalAlignment="VerticalAlignment.Center">
                <FluentTextField @bind-Value="searchWord" Placeholder="Search word" Style="flex:1;" />
            </FluentStack>
            <FluentStack Width="auto">
                <FluentButton IconStart="@(new Icons.Regular.Size16.Search())" Loading="isRefreshingData" OnClick="RefreshDataAsync">
                    Search
                </FluentButton>
            </FluentStack>
        </FluentStack>
    </FluentToolbar>

    <FluentStack Orientation="Orientation.Vertical">
        <FluentDataGrid @ref="dataGrid"
                        Pagination="pagination"
                        TGridItem="FailedVocabularyDto"
                        Items="vocabularyList"
                        RefreshItems="RefreshItemsAsync"
                        Loading="isRefreshingData"
                        GenerateHeader="GenerateHeaderOption.Sticky"
                        DisplayMode="DataGridDisplayMode.Table"
                        OnRowDoubleClick="(r) => Navigation.GoToVocabularyPendingDetail(r.Item!.Id)"
                        AutoFit="true"
                        ShowHover="true"
                        Style="width:100%;">
            <ChildContent>
                <PropertyColumn Property="@(c => c.Word)" />
                <PropertyColumn Property="@(c => c.PartOfSpeech)" Title="Part of speech" />
                <PropertyColumn Property="@(c => c.Pronunciation)" />
                <PropertyColumn Property="@(c => c.Cloze)" />
                <PropertyColumn Property="@(c => c.Meaning)" />
                <PropertyColumn Property="@(c => c.LastTriedAt)" Title="Last tried time" />
                <TemplateColumn Title="Actions" Align="@Align.Center">
                    <FluentButton Title="Retry export"
                                  OnClick="() => HandleRetryExportAsync(context.Id)">
                        <FluentIcon Value="@(new Icons.Regular.Size16.ArrowClockwise())"
                                    Color="Color.Custom"
                                    CustomColor="#16a34a" />
                    </FluentButton>
                </TemplateColumn>
            </ChildContent>
            <EmptyContent>
                <FluentStack Orientation="Orientation.Horizontal"
                             VerticalAlignment="VerticalAlignment.Center"
                             HorizontalAlignment="HorizontalAlignment.Center"
                             HorizontalGap="10">
                    <FluentIcon Value="@(new Icons.Filled.Size24.Crown())" Color="@Color.Accent" />
                    <div>Nothing to see here. Carry on!</div>
                </FluentStack>
            </EmptyContent>
        </FluentDataGrid>
        <FluentPaginator State="pagination" Style="width:100%;margin-top:0" />
    </FluentStack>
</FluentStack>